html {
  scroll-behavior: initial;
}

body {
  font-family: var(--body-font);
  font-size: 16px;
  background-color: #fcfdff;
  line-height: 130%;
  padding: 0;
  margin: 0;
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
}

.dark {
  background-color: #09111f;
}

section,
footer {
  overflow: hidden;
  overflow-x: hidden !important;
}

a,
p,
button,
span,
label,
li {
  margin: 0;
  font-family: var(--body-font);
  color: rgba(var(--s1), 1);
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;
  color: #ebebec;
  transition: var(--transition);

  &:focus,
  &:hover {
    text-decoration: none;
    outline: none;
    color: #ff9958;
  }
}

h1,
h1 > a,
h2,
h2 > a,
h3,
h3 > a,
h4,
h4 > a,
h5,
h5 > a,
h6,
h6 > a,
.display-zero,
.display-one,
.display-two,
.display-three,
.display-four,
.display-five,
.display-six,
.heading {
  font-family: var(--body-font);
  color: rgba(var(--p6), 1);
  font-weight: 700;
  padding: 0;
  margin: 0;
  line-height: 120%;
  display: block;
  transition: var(--transition);

  span {
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    line-height: inherit;
    font-weight: inherit;
  }
}

a {
  h2,
  h3,
  h4,
  h5,
  span,
  i,
  .fs-two,
  .fs-three,
  .fs-four,
  .fs-five {
    // transition: var(--transition);
  }
}

.roboto {
  font-family: var(--roboto-font);
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;

  li {
    font-size: inherit;
    font-weight: inherit;
  }
}

button {
  border: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 130%;
  padding: 0;
  background-color: transparent;
}

input,
textarea {
  padding: 12px 20px;
  color: rgba(var(--db), 1);
  width: 100%;
  font-family: var(--body-font);
  outline-color: transparent;
  font-size: 16px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid rgba(var(--b1), 0.3);

  &::placeholder {
    color: #8396b5;
    font-size: 16px;
  }

  &:focus {
    outline: 1px solid rgba(var(--b1));
    box-shadow: none;
    // border: 1px solid transparent;
  }
}

// input custom
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  width: initial;
  height: initial;
}

// select custom
select {
  padding: 16px;
  border: none;
  cursor: pointer;
  outline: none;
}

.max-auto {
  max-width: 100%;
}

.max-un {
  max-width: unset;
}

@include minQuery(1400) {
  .max-xxl-un {
    max-width: unset;
  }
}

@include minQuery(1200) {
  .max-xl-un {
    max-width: unset;
  }
}

@include minQuery(992) {
  .max-lg-un {
    max-width: unset;
  }
}

@include minQuery(768) {
  .max-md-un {
    max-width: unset;
  }
}

.d-rtl {
  direction: rtl;
}

.collapsing {
  transition: var(--transition);
}

// section Padding
.pt120 {
  padding-top: 120px;
}

.pb120 {
  padding-bottom: 120px;
}

.ml-316 {
  margin-left: 316px;

  @include maxQuery(991) {
    margin-left: 12px;
  }
}

// color with class
.alt-color {
  a,
  p,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  i,
  select,
  button {
    color: rgba(var(--p7), 1);
  }
}

.p1-color {
  color: rgba(var(--p1), 1);
}

.p2-color {
  color: rgba(var(--p2), 1);
}

.p3-color {
  color: rgba(var(--p3), 1);
}

.p4-color {
  color: rgba(var(--p4), 1);
}

.p5-color {
  color: rgba(var(--p5), 1);
}

.p6-color {
  color: rgba(var(--p6), 1);
}

.p7-color {
  color: rgba(var(--p7), 1);
}

.p8-color {
  color: rgba(var(--p8), 1);
}

.p9-color {
  color: rgba(var(--p9), 1);
}
.p11-color {
  color: rgba(var(--p11), 1);
}
.p12-color {
  color: rgba(var(--p12), 1);
}

.s1-color {
  color: rgba(var(--s1), 1);
}

.s2-color {
  color: rgba(var(--s2), 1);
}

.bg1-color {
  background-color: rgba(var(--p1), 1);
}

.bg2-color {
  background-color: rgba(var(--p2), 1);
}

.bg3-color {
  background-color: rgba(var(--p3), 1);
}

.bg4-color {
  background-color: rgba(var(--p4), 1);
}

.bg5-color {
  background-color: rgba(var(--p5), 1);
}

.bg6-color {
  background-color: rgba(var(--p6), 1);
}

.bg7-color {
  background-color: rgba(var(--p7), 1);
}
.bg8-color {
  background-color: rgba(var(--p8), 1);
}
.bg9-color {
  background-color: rgba(var(--p9), 1);
}
.bg10-color {
  background-color: rgba(var(--p6), 0.1);
}
.bg11-color {
  background-color: rgba(var(--f1), 1);
}
.bg12-color {
  background-color: rgba(var(--h2), 1);
}
.bg13-color {
  background-color: rgba(var(--p10), 1);
}
.bg14-color {
  background-color: rgba(var(--b1), 1);
}
.bg15-color {
  background-color: rgba(var(--p12), 1);
}

.bg-main {
  background-color: rgba(var(--b3), 1);
}

.br1 {
  border: 1px solid rgba(var(--p8), 1);
}

.br2 {
  border: 1px solid rgba(var(--p6), 0.2);
}

.br3 {
  border: 1px solid rgba(var(--p7), 1);
}

.br4 {
  border: 1px solid rgba(var(--p1), 1);
}
.br5 {
  border: 1px solid rgba(var(--p2), 1);
}
.box-shadow1 {
  box-shadow: var(--box-shadow-p1);
}

.box-shadow5 {
  box-shadow: var(--box-shadow-p2);
}

.rounded-item {
  border-radius: 50%;
}

.rounded-item2 {
  border-radius: 42%;
}

.rounded-20 {
  border-radius: 20px;
}

// }
.box-shadow3 {
  box-shadow: var(--box-shadow-p1);
}

.fw_500 {
  font-weight: 500;
}

.mx-ch {
  max-width: 60ch;
}

.none_two {
  display: none !important;
}

.fadeInUp {
  animation-duration: var(--animate-duration);
  animation-delay: var(--animate-delay);
}

// Tab for all sections
.tabcontents {
  position: relative;
}

.tabitem {
  transform: translateY(100px);
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: 0.5s all;
}

.tabitem.active {
  position: initial;
  z-index: 1;
  opacity: 1;
  transform: translateY(0);
}

// Cursor Pointer
.cpoint {
  cursor: pointer;
}

.exhvr {
  &:hover {
    background-color: rgba(var(--db), 1) !important;
    color: rgba(var(--s2), 1) !important;
  }
}

// File Upload Custom
.file-upload {
  border-radius: 48px;
  border: 1px solid rgba(var(--p1), 1);

  input {
    display: none;
  }

  .file {
    cursor: pointer;
    position: relative;

    .file-custom {
      border-radius: 20px;
    }
  }

  .add-file {
    color: rgba(var(--p1), 1);
  }
}

.hvr {
  transition: 0.3s linear;

  &:hover {
    background-color: #2a235b;
    color: rgba(var(--p2), 1);
  }
}

// btn-popup-animation
.btn-popup-animation {
  @include box(80);
  z-index: 0;
  transition: var(--transition);

  i {
    color: rgb(var(--p2-fixed));
  }

  &:before {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: rgb(var(--p1));
    border-radius: 50%;
    opacity: 0.6;
    z-index: -1;
    animation: pulse 2s ease-out infinite;
  }

  &:after {
    content: "";
    position: absolute;
    width: 85%;
    height: 85%;
    background-color: rgb(var(--p1));
    border-radius: 50%;
    opacity: 0.6;
    z-index: -1;
    animation: pulse 2s 1s ease-out infinite;
  }

  @include maxQuery(576) {
    @include box(60);

    i {
      color: rgb(var(--p2-fixed));
    }
  }
}

@keyframes pulse {
  100% {
    transform: scale(2);
    opacity: 0;
  }
}

// Circle Text
.circle-text {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: rgba(var(--s3), 1);
  border: 1px solid rgba(var(--p2), 1);
  position: relative;

  .text {
    animation: rotate 50s linear infinite;
    width: 100%;
    height: 100%;
    position: absolute;

    p {
      transform: translate(50%, 5px);
    }

    span {
      position: absolute;
      color: rgba(var(--p2), 1);
      font-size: inherit;
      font-weight: 600;
      transform-origin: 0 70px;
    }
  }

  &:hover {
    .text {
      animation-play-state: paused;
    }
  }

  &.second {
    width: 120px;
    height: 120px;
    background-color: rgba(var(--n2), 1);
    border-color: transparent;

    .text {
      p {
        transform: translate(50%, 5px);
      }

      span {
        transform-origin: 0 55px;
      }
    }
  }

  &.third {
    width: 880px;
    height: 880px;
    border-color: transparent;

    .text {
      p {
        transform: translate(50%, 5px);
      }

      span {
        transform-origin: 0 440px;
      }
    }
  }
}

// vertical border
.v-border {
  background: rgba(var(--p1), 0.2);
  width: 1px;
  height: 25px;
}

// vertical line
.v-line {
  &::before {
    position: absolute;
    content: "";
    width: 1px;
    height: 40px;
    background-color: rgb(var(--p7));
  }

  &.lg::before {
    height: 15px;
  }

  &.lgx::before {
    height: 110px;
    width: 2px;
    background-color: rgba(255, 255, 255, 0.2);
  }

  &.lg2::before {
    height: 17px;
    padding: 1px;
    background-color: rgba(var(--s2), 1) !important;
  }

  &.xl::before {
    background-color: rgb(var(--p7)) !important;
    height: 15px;
  }

  &.sm::before {
    height: 25px;
  }

  &.smx::before {
    width: 1px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
  }

  &.dashed::before {
    border-right: 1px dashed rgb(var(--n5));
    background: transparent;
  }
}

// vertical border
.cus-border {
  border-color: rgba(var(--p8), 1) !important;

  &.second {
    border-color: rgba(var(--p5), 0.2) !important;
  }

  &.third {
    border-color: rgb(var(--p1)) !important;
  }
  &.four {
    border-color: rgb(var(--p5), 0.1) !important;
  }
  &.border-five {
    border-color: #98c1ff !important;
  }
  &.border-six {
    border-color: rgb(var(--b2)) !important;
  }
}

// dotted border
.border-bottom-dash {
  border-bottom: 1px dashed transparent;
}

// ul custom
.ul-dots {
  li {
    list-style: disc;
  }
}

.ul-decimal {
  li {
    list-style: decimal;
  }
}

// Social Area
.social-area {
  a {
    @include box(40);
    border: 1px solid rgba(var(--p1), 0.1);
    border-radius: 50%;
    background: rgb(var(--p1));
    display: block;
    transition: var(--transition);

    i {
      color: rgba(var(--p2-fixed), 1);
    }

    &:hover {
      background-color: transparent;

      i {
        color: rgba(var(--p1), 1);
      }
    }
  }

  &.alt {
    a {
      border-color: rgba(var(--p1), 1);
      background: transparent;

      &:hover {
        background-color: rgba(var(--p1), 1);
      }
    }
  }
}

.social-items {
  a {
    i,
    span {
      transition: var(--transition);
    }

    &:hover {
      i,
      span {
        color: rgba(var(--p2), 1);
      }
    }
  }
}

span {
  display: inline-block;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

// needed style for degine
.cursor-pointer {
  cursor: pointer;
}

.h-700 {
  height: 700px;
}
.counter_arrow {
  width: 167px;
  height: 174px;
}

.top-5 {
  top: 20px;
}
.rotate-90 {
  transform: rotate(90deg);
}
.max-h-0 {
  max-height: 0px;
}

.h-135 {
  height: 135px;
}

.btn_hover {
  transition: 0.5s ease-in-out;
  &:hover {
    background-color: #2573fb;
  }
}

@media (max-width: 576px) {
  .counter_arrow {
    width: 100px;
    height: 124px;
  }
}

/* ------------scrollbar style  Start ----------------*/
::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb {
  background: #443dfc;
  border-radius: 5px;
}
/* ------------scrollbar style  End ----------------*/

// swiper slider smooth animation
.service_slider,
.swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.clients_slider .swiper-wrapper {
  -webkit-transition-timing-function: linear !important;
  -o-transition-timing-function: linear !important;
  transition-timing-function: linear !important;
}

.w-full {
  width: 100%;
}

//primary button
.btn {
  width: 160px;
  height: 50px;
  background-color: rgba(var(--p1), 1);
  border: 1px solid rgba(var(--p1), 1);
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: rgba(var(--p1), 1);
  }
}

.btn span {
  font-size: 18px;
  transition: top 0.6s;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}
.btn:hover .btn-text-one {
  top: -100%;
}
.btn:hover .btn-text-two {
  top: 50%;
}

// outline button
.btn-outline {
  width: 160px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #fcfdff;
  border-radius: 50px;
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: rgba(var(--p1));
    border: 1px solid rgba(var(--p1));
  }
}

.btn-outline span {
  font-size: 18px;
  transition: top 0.6s;
}

.btn-outline:hover .btn-text-one {
  top: -100%;
}
.btn-outline:hover .btn-text-two {
  top: 50%;
}

// btn-2 style
.btn2 {
  width: 190px;
  height: 50px;
  background-color: rgba(var(--p1), 1);
  border-radius: 50px;
  border: 1px solid rgb(var(--p1));
  outline: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  &:hover {
    background-color: rgba(var(--p1), 1);
  }
}

.btn2 span {
  font-size: 18px;
  transition: top 0.6s;
}

.btn2:hover .btn-text-one {
  top: -100%;
}
.btn2:hover .btn-text-two {
  top: 50%;
}

@media (max-width: 576px) {
  .btn,
  .btn-outline {
    width: 130px;
    height: 40px;
    span {
      font-size: 16px;
    }
  }
  .btn2 {
    width: 160px;
    height: 40px;
    span {
      font-size: 16px;
    }
  }
}

// link-2 project
.link-button {
  position: fixed;
  z-index: 999;
  right: 10px;
  font-size: 18px;
  top: 57%;
  width: max-content;
  padding: 5px;
  background-color: rgb(var(--p2));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
  &:hover {
    background-color: #fb7e25;
    color: white;
  }
}

// rtl button
#rtlBtn {
  position: fixed;
  z-index: 999;
  right: 10px;
  font-size: 18px;
  top: 50%;
  width: max-content;
  padding: 5px;
  width: 50px;
  height: 50px;
  background-color: rgb(var(--p2));
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.7s ease-in-out;
  &:hover {
    background-color: #fb7e25;
  }
}

[dir="rtl"] .service_slider,
.particial-bg,
.testimonial,
.dicscuss_projects,
.our_clients {
  direction: ltr;
}

[dir="rtl"] .navbar-collapse {
  justify-content: center;
}

.popular_choices {
  right: 0;
  width: max-content;
}

[dir="rtl"] .popular_choices {
  display: none;
}

[dir="rtl"] .dicscuss_projects {
  .dicscuss-content {
    direction: rtl;
    width: 80%;
  }
  .choose_img {
    margin-right: -20px;
    margin-left: 4px;
  }
}

@media (max-width: 576px) {
  #rtlBtn {
    width: 30px;
    height: 30px;
    right: 5px;
    font-size: 14px;
  }
  .link-button {
    font-size: 14px;
  }
}

@media (max-width: 992px) {
  [dir="rtl"] .header-section {
    direction: ltr;
  }
}
