// default font family
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

// default root

:root {
  --body-font: "Inter", sans-serif;
  --transition: all 0.5s ease-in-out;
  --transition2: all 0.3s ease-in-out;
  --animate-duration: 1s;
  --animate-delay: 0.5s;

  --p1: 0, 89, 232;
  --p2: 188, 113, 65;
  --p3: 255, 153, 88;
  --p4: 10, 46, 107;
  --p5: 252, 253, 255;
  --p6: 255, 255, 255;
  --p7: 245, 249, 255;
  --p8: 10, 46, 107;
  --p9: 0, 0, 0;
  --p10: 245, 249, 255;
  --p11: 206, 227, 255;
  --p12: 10, 46, 107;
  --s1: 235, 235, 236;
  --s2: 121, 143, 29;
  --h1: 245, 249, 255;
  --h2: 220, 235, 255;
  --f1: 10, 46, 107;
  --b1: 252, 253, 255;
  --b2: 178, 211, 255;
  --b3: 252, 253, 255;

  .dark {
    --p1: 0, 89, 232;
    --p2: 255, 153, 88;
    --p3: 255, 153, 88;
    --p4: 206, 227, 255;
    --p5: 9, 17, 31;
    --p6: 255, 255, 255;
    --p7: 11, 36, 81;
    --p8: 255, 255, 255;
    --p9: 0, 0, 0;
    --p10: 245, 249, 255;
    --p11: 206, 227, 255;
    --p12: 10, 46, 107;
    --h1: 11, 36, 81;
    --h2: 14, 56, 129;
    --f1: 10, 46, 107;
    --b1: 14, 44, 99;
    --b2: 115, 167, 255, 0.5;
    --b3: 9, 17, 31;
  }

  --box-shadow-p1: 0px 0px 24px 0px rgba(0, 0, 0, 0.08);
}
